/*
font-family: 'Exo 2', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Indie Flower', cursive;
*/



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
    /*background: url("../img/background-800px.jpg") fixed;*/
    /*background-size: cover;*/
    color: #4824cf;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

img,
embed,
object,
video {
    max-width: 100%;
}

/*a {*/
    /*grid-area: button;*/
    /*text-decoration: none;*/
    /*justify-self: center;*/
    /*cursor: pointer;*/
/*}*/

/*form {*/
    /*grid-area: button;*/
    /*text-decoration: none;*/
    /*justify-self: center;*/
    /*cursor: pointer;*/
/*}*/

.body-container {
    display: grid;
    position: relative;
    grid-template: 5% 5% repeat(4, 20%) 10% / 1fr;
    grid-template-areas: "game-nav"
                         "game-board"
                         "footer";
    justify-items: center;
}


/*-------------------------------
     Header: game controls
--------------------------------*/
.game-nav {
    grid-area: game-nav;
    padding: 1rem;
    justify-self: stretch;
    /*margin: 1rem;*/
    display: grid;
    grid-template: repeat(3, .8fr) / repeat(4, 1fr);
    grid-template-areas: "title title title title"
                         "moves stars stars counter"
                         "timer timer button button";
    font-size: 1.2rem;
    padding: 0 .5 0 0 ;
}

.count-moves {
    grid-area: moves;
    justify-self: stretch;
}

.title {
    grid-area: title;
    justify-self: stretch;
    font-size: 1.8rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.game-nav .stars {
    grid-area: stars;
    justify-self: stretch;
    /*margin: 0 5px 0 0;*/
    /*padding: 0;*/
    font-size: 1rem;
}

.stars-container {
    text-align: left;
}

.game-nav .stars li {
    display: inline-block;
    margin: 0;
}

.timer {
    grid-area: timer;
    justify-self: stretch;
    padding: 5px 0;
}

.counter {
    grid-area: counter;
    justify-self: stretch;
    /*margin: 0 5px 0 0;*/
    text-align: right;

}

/*.reset {*/
    /*grid-area: reset;*/
    /*justify-self: end;*/
/*}*/

.button-container {
    grid-area: button;
    justify-self: center;
    color: #2e3d49;
    /*padding: 5px;*/
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin: .5rem 1rem;
}

.button {
    background-color: #aa7ecd;
    width: 34vw;
    height: 7vh;
    border-radius: 10px;
    border-style: groove;
    /*padding: .5rem;*/
    /*font-size: 1.2rem;*/
}

.button:hover {
    background-color: #5b446e;
}

/*-------------------------------
           Game-board
---------------------------------*/
/*.main-container {*/
    /*padding: 0 1rem;*/
/*}*/

.game-board {
    grid-area: game-board;
    justify-self: center;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    width: 95vw;
    min-height: 70vh;
    background: linear-gradient(160deg, #4824cf 0%, #aa7ecd 100%);
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    margin: 0;
}

.game-board .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 15vh;*/
    /*width: 22vw;*/
    margin: .1rem;
    padding: .1rem;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px #6c6c6c;
}

.box:hover {
    background-color: #2e3d49;
}

.box:active {
    background-color: #90bbe8;
}

/* cards */
.game-board .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.game-board .card.show {
    font-size: 1.5rem;
}

.game-board .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 1.4rem;
}

/*-------------------------------
      Winner/Loser Message
--------------------------------*/
.message-container {
    position: absolute;
    /*z-index: 1;*/
    top: 0;
    left: -124vw;
    width: 110vw;
    height: 100vh;
    background-color: rgba(50, 37, 60, 0.75);
    color: #ffffff;
    opacity: 0;
    /*display: none;*/
    transition: all 1s;
}

.endgame-message {
    line-height: 2.2;
    text-align: center;
    padding: 15rem 1rem 0;
}

.show-message {
    left: 0;
    opacity: 1;
}

.remove-message {
    left: -124vw;
    opacity: 0;
}

/*-------------------------------
           Aside
--------------------------------*/


/*-------------------------------
           Footer
--------------------------------*/
.footer-info {
}
