/*
font-family: 'Exo 2', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Indie Flower', cursive;
*/

html {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    /*background: url("../img/background-800px.jpg") fixed;*/
    /*background-size: cover;*/
    color: #4824cf;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

img,
embed,
object,
video {
    max-width: 100%;
}

/*a {*/
    /*grid-area: button;*/
    /*text-decoration: none;*/
    /*justify-self: center;*/
    /*cursor: pointer;*/
/*}*/

/*form {*/
    /*grid-area: button;*/
    /*text-decoration: none;*/
    /*justify-self: center;*/
    /*cursor: pointer;*/
/*}*/

.main-container {
    display: grid;
    position: relative;
    grid-template: 10% 10% repeat(4, 17.5%) 10% / repeat(4,1fr);
    grid-template-areas: "game-nav game-nav game-nav game-nav"
                         "game-board game-board game-board game-board"
                         "footer footer footer footer";
}

/*-------------------------------
           Header
--------------------------------*/
.game-nav {
    grid-area: game-nav;
    padding: 10px;
    justify-items: center;
    margin: 1rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    grid-template-areas: "title title stars stars"
                         "timer timer counter counter"
                          "button button button button";
    font-size: 1.2rem;
}

.title {
    grid-area: title;
    justify-self: start;
    font-size: 1.2rem;
    padding: 5px 0;
}

.game-nav .stars {
    grid-area: stars;
    justify-self: end;
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 1rem;
}

.game-nav .stars li {
    display: inline-block;
    margin: 0;

}

.timer {
    grid-area: timer;
    justify-self: start;
}

.counter {
    grid-area: counter;
    justify-self: end;
}

/*.reset {*/
    /*grid-area: reset;*/
    /*justify-self: end;*/
/*}*/

.button-container {
    grid-area: button;
    justify-self: center;
    color: #2e3d49;
    padding: 5px;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
    margin: .5rem 1rem;
}

.button {
    background-color: #aa7ecd;
    width: 70vw;
    border-radius: 10px;
    border-style: groove;
    padding: .5rem;
}

.button:hover {
    background-color: #5b446e;
}

/*-------------------------------
           Game-board
---------------------------------*/

.game-board {
    grid-area: game-board;
    justify-self: center;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    /*border: 2px solid #2d0507;*/
    height: 13vh;
    width: 22vw;
    margin: .1rem;
    padding: .1rem;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px #6c6c6c;
}

.box:hover {
    background-color: #2e3d49;
}

.box:active {
    background-color: #90bbe8;
}

/*-------------------------------
           Aside
--------------------------------*/


/*-------------------------------
           Footer
--------------------------------*/