/*----- Range of iPad (768 x 1024) -----*/
@media screen and (min-width: 767px) {
    .game-nav {
        font-size: 2rem;
    }

    .stars-container {
        padding-right: 1rem;
    }

    .game-nav .stars {
        font-size: 1.5rem;
    }

    .game-board {
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);

    }

    .game-board .card.show {
        font-size: 2.5rem;
    }
}


/*----- Range of iPad Pro (1024 x 1366) -----*/
@media screen and (min-width: 1023px) {
    .game-nav .stars {
        font-size: 2rem;
        padding-left: 0;
    }
}


/*----- Range for desktop  -----*/
@media screen and (min-width: 1050px) {
    .body-container {
        grid-template: 15% 70% 15% / 26% 74%;
        grid-template-areas: "game-nav game-board"
                             "game-nav game-board"
                             "footer footer";
    }
    .game-nav {
        justify-self: start;
        grid-template: repeat(5, 1fr) / 1fr;
        grid-template-areas: "title"
                             "stars"
                             "timer"
                             "moves"
                             "counter";
    }

    .title {
        text-align: center;
        font-size: 4vw;
    }

    .game-board {
        width: 66vw;
        min-height: 90vh;
        margin: 2rem 0;
    }

    .game-board .card.show {
        font-size: 3.5rem;
    }

    .game-nav .stars {
        font-size: 2rem;
        padding-top: 4vh;
    }

    .stars-container,
    .nav-content-1,
    .nav-content-2 {
        text-align: left;
        padding-left: 6rem;
    }

    .game-choice {
        top: 8rem;
        width: 50%;
        height: 58%;
        margin-left: 25rem;

    }

    .button {
        width: 35vw;
        font-size: 4vh;
    }
}
