/*----- iPad (768 x 1024) -----*/

@media screen and (min-width: 767px) {
    .body-container {
        grid-template: 15% 70% 15% / 30% 70%;
        grid-template-areas: "game-nav game-board"
                             "game-nav game-board"
                             "footer footer";
    }
    .game-nav {
    grid-template: repeat(5, 1fr) / 1fr;
    grid-template-areas: "title"
                         "stars"
                         "timer"
                         "counter"
                         "button";
    font-size: 1.2rem;
    }
    .title {
        font-size: 2.3rem;
    }

    .game-board {
        width: 70vw;
        min-height: 90vh;
        margin: 3.5rem 0 3.5rem 1rem;
    }
}


/*----- media-query for iPad Pro (1024 x 1366) -----*/

@media screen and (min-width: 1023px) {

}

