/*----- iPad (768 x 1024) -----*/

@media screen and (min-width: 767px) {
    .body-container {
        /*padding: 1rem;*/
    }

    .game-nav {
        font-size: 2rem;
    }

    .title {
        font-size: 3.3rem;
    }

    .stars-container {
        text-align: right;
        padding-right: 2rem;
    }



    .game-choice {
        top: 15rem;
    }
    .button-container {
        top: 2.5rem;
    }

    .button {
        font-size: 2.5rem;
    }

    .game-board {
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);

    }
}


@media screen and (min-width: 800px) {


}


/*----- media-query for iPad Pro (1024 x 1366) -----*/

@media screen and (min-width: 1023px) {
    .title {
        font-size: 4.3rem;
    }
    .button {
        font-size: 3rem;
    }
    .game-nav .stars {
        font-size: 2rem;
    }

    .game-choice {
        top: 22rem;
    }
    .button-container {
        top: 3.5rem;
    }
}

/*----- media-query for desktop  -----*/

@media screen and (min-width: 1050px) {
    .body-container {
        grid-template: 15% 70% 15% / 26% 74%;
        grid-template-areas: "game-nav game-board"
                             "game-nav game-board"
                             "footer footer";
    }
    .game-nav {
        justify-self: start;
        grid-template: repeat(5, 1fr) / 1fr;
        grid-template-areas: "title"
                             "stars"
                             "timer"
                             "moves"
                             "counter";
        /*font-size: 1.5rem;*/
    }
    .title {
        text-align: center;
        font-size: 3.3rem;
    }

    .game-board {
        width: 66vw;
        min-height: 90vh;
        margin: 2rem 0;
    }

    .game-nav .stars {
        font-size: 1.5rem;
    }

    .stars-container,
    .nav-content-1,
    .nav-content-2 {
        text-align: left;
        padding-left: 6rem;
    }

    .game-choice {
        top: 8rem;
        width: 50%;
        height: 58%;
        margin-left: 25rem;

    }

    .button-container {
        top: 3rem;
        /*right: 12rem;*/
    }

    .button {
        width: 40vw;
        height: 12vh;
        font-size: 3rem;
    }

}
