/*----- iPad (768 x 1024) -----*/

@media screen and (min-width: 767px) {
    .body-container {
        /*padding: 1rem;*/
    }

    .game-nav {
        font-size: 2rem;
    }

    .title {
        font-size: 2.3rem;
    }

    .button {
        font-size: 1.7rem;
    }
}


@media screen and (min-width: 800px) {


}


/*----- media-query for iPad Pro (1024 x 1366) -----*/

@media screen and (min-width: 1023px) {
    .button {
        font-size: 2rem;
    }
    .game-nav .stars {
        font-size: 2rem;
    }
}

/*----- media-query for desktop  -----*/

@media screen and (min-width: 1050px) {
    .body-container {
        grid-template: 15% 70% 15% / 26% 74%;
        grid-template-areas: "game-nav game-board"
                             "game-nav game-board"
                             "footer footer";
    }
    .game-nav {
        justify-self: start;
        grid-template: repeat(5, 1fr) / 1fr;
        grid-template-areas: "title"
                             "stars"
                             "timer"
                             "counter"
                             "button";
        /*font-size: 1.5rem;*/
    }
    .title {
        text-align: center;
        font-size: 2.3rem;
    }

    .game-board {
        width: 66vw;
        min-height: 90vh;
        margin: 2rem 0;
    }

    .game-nav .stars {
        font-size: 1.5rem;
    }

    .stars-container {
        text-align: center;

    }

    .timer {
        text-align: center;
    }

    .counter {
        text-align: center;
    }

    .button {
        width: 22vw;
        height: 7vh;
        font-size: 2rem;
    }

}
